<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/juliebis/", target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.instagram.com/juliebis/", target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/juliebis/", target="_blank"><i class="fab fa-pinterest"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
