<div class="container">
  <div class="about-container">
    <div><h1>À PROPOS</h1> </div>
    <br>
    <div> <%= image_tag "julieabout.png", class: "img-about" %> </div>
    <br>
    <div class="text-center"> <p>
      Si vous débarquez sur mon petit blog et que vous commencez par cette rubrique, vous ne devez pas encore savoir énormément de choses sur moi. Pour résumé, mes amis m’appellent Jean-Michel bons plans, alors j’ai décidé de vous partager mes petites adresses, astuces, etc. En mars 2018, une de mes amies a décidé de se lancer dans l’aventure du wagon et pour s’entrainer à coder, elle a décidé de me créer un blog. <br> <br>
      Pour me décrire brièvement, je fais partie de ces gens qui sont souvent arrêtés par la brigade du kiff. Je vous ferai découvrir mes bonnes adresses lors de mes voyages. Je partagerai également mes bons plans food, déco, fringues sur Lille et autre contrées sympathiques. <br> <br>
      Bloguement vôtre, <br> <br>
      Julie Bis
  </p> </div>
  </div>

</div>
